@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Patrick+Hand&family=Questrial&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #242929f3;
    font-family: 'Patrick Hand', cursive;
    /* overflow: hidden; */
}


/* Change background when form appears */
#container.inactive {
    opacity: .4;
    background-color: #88a3a338;
    height: 100%;
}

.header{
    background-color: #242727;
    color: #76eff3;
    font-family: 'Lobster Two', cursive;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 4px;
}

#addBookBtn {
    padding: 14px;
    width: 150px;
    border-radius: 8px;
    border: solid 2px #1e2222;
    color: #1e2222;
    background-color: #76eff3;
    cursor: pointer;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    letter-spacing: 1px;
    transition: .25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#addBookBtn:hover {
    background-color: #8bebee;
    transform: scale(1.1)
}
#addBookBtn:active{
    transform: scale(.98)
}

#book-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20px;
}

.defaultBook{
    border: solid 2px #1e2222;
    border-radius: 9px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: #8bebeee3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 45px 70px;
}

.delete{
    width: 125px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px #8bebeee3;
    background-color: #262929;
    color: #8bebeee3;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}
.delete:hover{
    background-color: #ff00009c;
    color: #262929;
    border: solid 1px #262929;
}

.buttonContainer{
    margin: 5px;
}

/* Form */
#form-container {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 405px;
    padding: 20px 30px;
    background-color: #323838;
    color: #aef6f8;
    border: solid 1px #76eff3;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

/* When add button is pressed */
#form-container.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

#form h1 {
    text-align: center;
    margin: 10px 0 20px;
    font-family: 'Lobster Two', cursive;
}

.form-element {         
    margin: 15px 0;
}
/* Labels in form */
.book {
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

input[type='text'] {
    text-align: center;
    margin: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px rgb(44, 42, 42);
    font-family: 'Patrick Hand', cursive;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Form buttons */
#form .btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 150px;
    height: 40px;
    margin: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
    color: #aef6f8;
    border: solid 1px #76eff3;
    background-color: #272b2b;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    transition: transform .25s;
}
#form .btn:active {
    transform: scale(.94)
}
#form .btn:hover {
    background-color: #aef6f8;
    border: solid 2px #363838;
    color: #282929;
}

/* CheckMark */
input[type='checkbox'] {
    margin: 5px;
    cursor: pointer;
}

.finished {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
}
/* end of form */